.inputs-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 0 1vw;
    margin-bottom: 5vh;
}

.start-time-input, .end-time-input, .node-input, .namespace-input, .submit-button {
    display: flex;
    border-radius: 8px;
    margin-right: 1vw;
    border: 2px solid transparent;
}

.node-input, .namespace-input {
    padding: 0.6em 1.2em;
}

.gantt-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 20px 1vw; /* Centers the container horizontally */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    height: 80vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Stretch elements inside */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow */
}

.gantt-time-axis {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    z-index: 1;
    padding-bottom: 20px;
}

.gantt-time-axis-padding {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    padding-right: 10px;
}

.gantt-time-axis-dateline {
    display: flex;
    border-top: 2px solid #ccc;
    font-weight: bold;
}

.gantt-time-axis-dateline:last-child {
    border-right: 2px solid #ccc;
}

.gantt-time-axis-dateline-item {
    border-left: 2px solid #ccc;
    width: 0;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 0.8rem;
    height: 5px;
    padding-left: 10px;
    padding-top: 10px;
    color: #666;
}

.gantt-group-name {
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 2px solid #ccc;
    color: black;
}

/* Header for days */
.gantt-header {
    display: flex;
    background-color: black;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    width: 100%;
    flex-shrink: 0;
}

.gantt-time-block {
    text-align: center;
    border-right: 1px solid #ccc;
    white-space: nowrap;
    flex-shrink: 0;
}

/* Body of the Gantt chart */
.gantt-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; /* Enable scrolling */
}

/* Each task row */
.gantt-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    width: 100%;
}

.gantt-task-name {
    width: 20%;
    padding-right: 10px;
    color: black;
    text-align: right;
    white-space: nowrap; /* Prevent wrapping of task names */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

.gantt-time-block-padding {
    flex-shrink: 0;
}

/* Task bar styling */
.gantt-task-wrapper {
    flex: 3;
    height: 20px;
    position: relative;
}

.gantt-task {
    height: 20px;
    border-radius: 12px;
    position: absolute;
}
